/** CSS STYLE **/

:root {
  /** colors **/
  --white: #fff;
  --transparent-white: #d7ccc0;
  --text: #2a2626;
  --bg-light: #f5f4f0;
  --bg-dark: #b09a81;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --secondary-dark: #908d8b;
  --blue: #1085c5;

  /** fonts **/
  --main-font: "Open Sans";
  --heading-font: "Neucha";
  --font-size: 16px;
  --font-line-height: 1.6em;
  --font-color: #2a2626;

  /** headings **/
  --h-line-height: 1.2em;
  --h1-size: 72px;
  --h2-size: 60px;
  --h3-size: 34px;

  /** sections **/
  --max-content-width: 1110px;
}

/* RESET */

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;

  font-weight: inherit;
  font-size: inherit;
}

input,
button {
  padding: 0;

  border: none;
}

/* ELEMENTS */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: var(--text);
  font-weight: 400;
  font-size: var(--font-size);
  font-family: var(--main-font);
}

.bg {
  position: relative;
}

.bg::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 100px 0;
}

h1,
h2,
h3 {
  z-index: 1;

  color: var(--primary);
  font-family: var(--heading-font);
  line-height: var(--h-line-height);
}

.dark {
  color: var(--text);
}

.white {
  color: var(--white);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

.text-col {
  display: flex;
}

.text-block {
  flex-basis: 50%;
}

.text-block:nth-child(1) {
  margin-right: 30px;
}

p {
  line-height: var(--font-line-height);
}

.text-block .quot {
  margin: 1em 0;
}

.btn {
  display: inline-block;
  padding: 11px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.subtext {
  font-size: 34px;
  font-family: var(--heading-font);
  line-height: var(--h-line-height);
}

/* HEADER */

header {
  background-color: var(--bg-light);
}

header .container {
  justify-content: space-between;
  height: 100vh;
  min-height: 900px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
}

header .btn.nav {
  margin-top: 40px;
}

/* VIDEO */

.section-video {
  height: 805px;

  background-color: var(--white);
}

.section-video .container {
  z-index: 1;

  align-items: center;
}

.section-video h2 {
  margin-bottom: 30px;

  text-align: center;
}

.video {
  z-index: 200;

  width: 919px;
  height: 569px;
  margin-top: 30px;

  border: none;
  filter: drop-shadow(0 16px 32px rgba(0  0  0 / 15%));
}

/* NAVIGATION */

#navigation {
  background-color: var(--primary-dark);
}

#navigation .container {
  flex-direction: row;
  flex-flow: row wrap;
  align-content: flex-start;
  padding-top: 200px;
}

[class^="card"] {
  width: 350px;
  margin-right: 30px;
}

.card-heading h2 {
  font-size: 52px;
}

.card {
  box-sizing: border-box;
  padding: 24px;

  background-color: var(--bg-light);
}

.card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-child(n+4) {
  margin-top: 20px;
}

.number {
  display: inline-block;
  margin-bottom: 40px;

  font-size: 64px;
  font-family: var(--heading-font);
  line-height: 1;
}

.card h3 {
  margin-bottom: 16px;
}

.card:hover>h3 {
  color: var(--white);
}

/* MAIN SECTIONS */

.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  color: var(--white);

  background-color: var(--bg-dark);
}

.top-block {
  display: flex;
}

.bias-img {
  flex-shrink: 0;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.bias-img.img-left {
  margin-right: 30px;
}

.bias-img.img-right {
  margin-left: 30px;
}

.subtitle {
  font-size: 24px;
  font-family: var(--heading-font);
  line-height: var(--h-line-height);
}

.bg-light .subtitle {
  color: var(--secondary-dark);
}

.bg-dark .subtitle {
  color: var(--transparent-white);
}

.bias .subtext {
  margin-top: 30px;
}

.how-work {
  margin-top: 100px;
}

.header {
  box-sizing: border-box;
  padding: 5px 10px;
}

.bg-light .header {
  color: var(--white);

  background-color: var(--bg-dark);
}

.bg-dark .header {
  color: var(--bg-dark);

  background-color: var(--white);
}

.header h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--h-line-height);
  text-transform: uppercase;
}

.how-work .text-col {
  margin-top: 20px;
}

ul+p {
  margin: 20px 0 18px;
}

/* FOOTER */

.subscription-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 190px;
  padding: 0 55px;

  color: var(--white);

  background-color: var(--primary-dark);
}

.form-block {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
}

.form-block .title {
  margin-bottom: 7px;

  font-size: 18px;
}

.subscription-form {
  display: flex;
  width: 100%;
}

.subscription-form input {
  flex-grow: 2;
  height: 50px;
  padding-left: 15px;
}

.subscription-form .btn {
  width: 70px;
  height: 50px;
}

.subscription-form .btn::before {
  display: block;
  width: 24px;
  height: 24px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.terms {
  margin: 3px 0;

  font-size: 12px;
}

.terms a {
  text-decoration: underline;
}

.copyright {
  margin: 76px 0 16px;

  font-size: 14px;
  text-align: center;
}

.copyright p {
  margin-bottom: 18px;
}

.copyright a {
  color: var(--blue);
  text-decoration: underline;
}
