:root {
  /* Colors */
  --color-white: #fff;
  --color-half-transparent: #d7ccc0;
  --color-bright: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-transparent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  /* Fonts */
  --font-main: 'Open Sans', sans-serif;
  --font-title: 'Neucha', cursive;
  --font-size-basic: 16px;
  --line-height-basic: 1.6em;
  --font-color: #2A2626;

  /* Titles */
  --h-line-height: 1.2em;
  --h1-size: 72px;
  --h2-size: 60px;
  --h3-size: 34px;

  /* Sections */
  --max-content-width: 1110px;
  --section-top-bot-padding: 100px;
}

/* Common */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

body {
  font-size: var(--font-size-basic);
  font-family: var(--font-main);
  color: var(--color-dark);
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-main);
  padding: 12px 26px;

  text-transform: uppercase;
  font-weight: 700;

  transition: all 0.3s;
}

.btn:hover {
  background-color: #EA7600;
}

/* Header */
.header-inner {
  padding: var(--section-top-bot-padding) 0;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.1;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-title {
  font-family: var(--font-title);
  color: var(--color-main);

  font-size: 72px;
  line-height: 86px;

  position: relative;
  z-index: 1;
}

.dark {
  color: var(--color-dark);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.header-text-wrapper {
  margin-top: 199px;


  display: flex;
  justify-content: space-between;
  column-gap: 30px;

  line-height: 25px;
}

.header-text + .header-text {
  margin-top: 17px;
}

.text-col {
  flex-basis: 50%;
}

.btn-header {
  margin-top: 40px;
}

/* Section-video */

.section-video {
  text-align: center;
  /* тень внутрь - смещение по x - смещение по y - цвет */
  box-shadow: inset 0px -100px #42413c;
}

.section-video-inner {
  padding-top: 100px;
}

.section-video-title {
  font-size: var(--h2-size);
  font-family: var(--font-title);
}

.section-video-title span {
  color: var(--color-main);
}

.section-video-text {
  margin-top: 27px;
  line-height: 26px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

/* Navigation */
.navigation {
  background-color: var(--color-main-dark);
}

.navigation-inner {
  padding: 100px 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.card {
  flex-basis: 350px;
  min-height: 323px;
}

.card-link {
  padding: 24px;
  background-color: var(--color-bright);

  transition: all 0.2s;
}

.card-link:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

.card-link:hover .card-title {
  color: var(--color-white);
}

.card-main-title {
  color: var(--color-main);
  font-size: 52px;
  line-height: 62px;
  font-family: var(--font-title);
}

.card-main-title span {
  color: var(--color-white);
}

.card-number {
  font-size: 64px;
  font-family: var(--font-title);
  color: inherit;
}

.card-title {
  font-size: 34px;
  line-height: 41px;
  font-family: var(--font-title);
  color: var(--color-main);

  margin-top: 40px;
  transition: all 0.2s;
}

.card-text {
  margin-top: 16px;
  line-height: 25px;
}

/* Effect Ikea-effect */
.effect {
  position: relative;
}

.effect-inner {
  padding: var(--section-top-bot-padding) 0;
  position: relative;
}

.effect-top {
  display: flex;
  column-gap: 30px;
}

.effect-subtitle {
  font-family: var(--font-title);
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark-transparent);
}

.effect-title {
  font-size: 60px;
  line-height: 72px;
  font-family: var(--font-title);
}

.effect-description {
  margin-top: 30px;
  font-size: 34px;
  line-height: 41px;
  font-family: var(--font-title);
}

.effect-text-block {
  margin-top: 100px;
}

.text-title {
  color: var(--color-white);
  background-color: var(--color-brown);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 10px;
}

.effect-img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.text-wrapper {
  margin-top: 20px;
  display: flex;
  column-gap: 30px;
}

.effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.1;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Common effect section*/

.effect:nth-child(2n) {
  background-color: var(--color-brown);
  color: var(--color-white);
}

.effect:nth-child(2n) .effect-img {
  order: 1;
}

.effect:nth-child(2n) .text-title {
  color: var(--color-brown);
  background-color: var(--color-white);
}

.effect:nth-child(2n) .effect-subtitle {
  color: var(--color-half-transparent);
}

/* Footer */

.footer {
  padding: 100px 0 111px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 55px 40px 55px;
  background-color: var(--color-main-dark);
  color: var(--color-white);
}

.form-title {
  font-size: 34px;
  line-height: 41px;
  font-family: var(--font-title);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 485px;
}

.email-label {
  font-size: 18px;
  line-height: 29px;
  display: block;
}

.email-wrapper {
  margin-top: 9px;
  display: flex;
  align-items: center;
}

.email-input {
  flex-grow: 1;
  max-height: 50px;
  padding: 15px;
  outline: none;
  font-family: var(--font-main);
}

.email-input::placeholder {
  font-size: 13px;
  line-height: 21px;
  color: #757575;
  font-family: var(--font-main);
  opacity: 0.2;
}

.form-submit-btn {
  width: 70px;
  height: 50px;
  background-color: var(--color-main);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit-btn::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(img/send.svg);
}

.rules {
  font-size: 12px;
  line-height: 19px;
}

.rules-link {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 76px;
  text-align: center;
}

.footer-materials {
  margin-top: 18px;
}

.footer-materials .footer-materials-link {
  color: var(--color-blue);
  text-decoration: underline;
}

.footer-bottom-link {
  display: block;
  margin-top: 16px;
  color: var(--color-blue);
  text-decoration: underline;
}